[Unit]
Description=Cloudflare DDNS Update
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=exec
User=root
ExecStart=/path/to/ddns_update.sh
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
